<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon/favicon-16x16.png') }}">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% include 'styleAndScript/style.html.twig' %}
    {% endblock %}
</head>
<body>
    <header>
        {% include 'navAdmin.html.twig' %}
        <div>
            {% for label, messages in app.flashes(['success', 'warning']) %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </header>
        <main id="admin-wrapper" class="container">
            {% block body %}{% endblock %}
        </main>
    {% block javascripts %}
        {% include 'styleAndScript/script.html.twig' %}
        <script src="{{ asset('js/navMobil.js') }}"></script>
        <script src="{{ asset('js/sidenav.js') }}"></script>
    {% endblock %}
</body>
</html>