<ul id="slide-out" class="sidenav ">
    <li><a class="subheader">Quotes</a></li>
    <li><a class="waves-effect" href="{{ path('admin_all_quotes') }}">All quotes</a></li>
    <li><a class="waves-effect" href="{{ path('admin_add_quote') }}" >Add quotes</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Easter Egg</a></li>
    <li><a class="waves-effect" href="{{ path('admin_all_eastereggs') }}">All Easter Eggs</a></li>
    <li><a class="waves-effect" href="{{ path('admin_add_easteregg') }}">Add Easter Egg</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="{{ path('admin_add_image') }}">Add Image</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Contact</a></li>
    <li><a class="waves-effect" href="{{ path('admin_all_contacts') }}">All Contacts</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="{{ path('home') }}">Home</a></li>
    <li><a class="waves-effect" href="{{ path('app_logout') }}">Logout</a></li>
</ul>
<div>
    <a href="#" data-target="slide-out" id="admin-nav-btn" class="sidenav-trigger white-text black btn-floating "><i class="material-icons">menu</i></a>
</div>
