<style>
    h1{
        text-align: center;
    }
    div p:first-of-type
    {
        margin-bottom: 10px;
        font-weight: bold;
    }
    div{
        margin-top: 25px;
        margin-bottom: 25px;
    }
</style>
<h1>Vous avez un nouveau contact</h1>
<diV>
    <p>Date d'envoi :</p>
    <p>{{ contact.sendDate|date('d-m-Y h:i') }}</p>
</diV>
<div>
    <p>Nom : </p>
    <p>{{ contact.name }}</p>
</div>
<div>
    <p>E-mail :</p>
    <p>{{ contact.email }}</p>
</div>
<div>
    <p>Sujet :</p>
    <p>{{ contact.subject }}</p>
</div>
<div>
    <p>Message</p>
    <p>{{ contact.content }}</p>
</div>
<div>
    <p>Consentement :</p>
    <p>{{ contact.consent }}</p>
</div>


